<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
    <script type="text/javascript" src="main.js"></script>
    <script type="text/javascript" src="/eel.js"></script>
    <title>Static Template</title>
  </head>
  <body>
    <div class="container">
        <div class="page">
            <div class="response-window">
              <textarea class="response-window-text-box">WORDS</textarea>
            </div>
            <button class="mic-button" id="mic_btn" onclick="mic_click()"></button>
            <button class="profile-button" id="profile_btn" onclick="mic_click()"></button>
            <div class="generation-window">
              <ul>
                <li class="vocab-pair">WORDS</li>
                <li class="vocab-pair">WORDS</li>
                <li class="vocab-pair">WORDS</li>
                <li class="vocab-pair">WORDS</li>
                <li class="vocab-pair">WORDS</li>
                <li class="vocab-pair">WORDS</li>
                <li class="vocab-pair">WORDS</li>
                <li class="vocab-pair">WORDS</li>
                <li class="vocab-pair">WORDS</li>
                <li class="vocab-pair">WORDS</li>
                <li class="vocab-pair">WORDS</li>
                <li class="vocab-pair">WORDS</li>
              </ul>
            </div>
            <div class="global-window">
              <ul>
                <li class="vocab-pair">WORDS</li>
                <li class="vocab-pair">WORDS</li>
                <li class="vocab-pair">WORDS</li>
                <li class="vocab-pair">WORDS</li>
                <li class="vocab-pair">WORDS</li>
                <li class="vocab-pair">WORDS</li>
                <li class="vocab-pair">WORDS</li>
                <li class="vocab-pair">WORDS</li>
                <li class="vocab-pair">WORDS</li>
                <li class="vocab-pair">WORDS</li>
                <li class="vocab-pair">WORDS</li>
                <li class="vocab-pair">WORDS</li>
              </ul>
            </div>
        </div>
    </div>
  </body>
</html>