<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
    <script type="text/javascript" src="main.js"></script>
    <script type="text/javascript" src="/eel.js"></script>
    <title>Static Template</title>
  </head>
  <body>
    <div class="container">
        <div class="page">
            <div class="response-window"></div>
            <div class="microphone-button" id="mic_click" onclick="mic_click()"></div>
            <div class="generation-window"></div>
            <div class="global-window"></div>
        </div>
    </div>
  </body>
</html>