html,
body {
  padding: 0;
  margin: 0;
  font-family: "open sans", sans-serif;
  font-size: 14px;
}

ul {
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 0px 0px;
}

.page {
    position:relative;
    width: 1020px;
    height: 720px;
    background-color: rgb(0, 39, 76);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
}

.response-window {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 400px;
    height: 200px;
    background-color: rgb(253, 253, 253);
    border-radius: 18px;
}

.response-window-text-box {
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bolder;
    font-size: x-large;
    height: 80%;
    width: 80%;
    background-color: rgb(253, 253, 253);
    border: none;
    overflow: auto;
}

.mic-button {
    position: absolute;
    top: 30px;
    left: 435px;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 203, 5);
    border-radius: 25px;
}

.mic-button:hover {
    background-color: rgb(191, 153, 0);
}

.profile-button {
    position: absolute;
    top: 130px;
    left: 435px;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 203, 5);
    border-radius: 25px;
}

.profile-button:hover {
    background-color: rgb(191, 153, 0);
}

.generation-window {
    position: absolute;
    top: 215px;
    left: 5px;
    width: 500px;
    height: 500px;
    background-color: rgb(255, 203, 5);
    border-radius: 20px;
    overflow: auto;
}

.global-window {
    position: absolute;
    top: 5px;
    left: 515px;
    width: 500px;
    height: 710px;
    background-color: rgb(255, 203, 5);
    border-radius: 20px;
    overflow: auto;
}

.vocab-pair {
    width: auto;
    height: 70px;
    border-radius: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 3px;
    background-color: rgb(0, 39, 76);
    font-weight: bolder;
    font-size: larger;
    text-align: center;
    color: rgb(255, 203, 5);
}

.vocab-pair:hover {
    background-color: rgb(0, 88, 170);
}

.source-text-box {
    overflow: auto;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    width: 42%;
    height: 64px;
}

.trans-text-box {
    overflow: auto;
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    width: 42%;
    height: 64px;
}

