:root {
    --line-color: #36c79e;
    --line-color-light: #9eccbf;
    --bg-color: #151719;
    --bg-color-light: #3e454a;
    --font-color: #D2F9EE;
    --hover-color: #c79436;
    /* generic */
    --gutterSm: 0.4rem;
    --gutterMd: 0.8rem;
    --gutterLg: 1.6rem;
    --gutterXl: 2.4rem;
    --gutterXx: 7.2rem;
    --colorPrimary400: #7e57c2;
    --colorPrimary600: #5e35b1;
    --colorPrimary800: #4527a0;
    --fontFamily: "Dosis", sans-serif;
    --fontSizeSm: 1.2rem;
    --fontSizeMd: 1.6rem;
    --fontSizeLg: 1.6rem;
    --fontSizeXl: 1.8rem;
    --fontSizeXx: 2.6rem;
    --lineHeightSm: 1.1;
    --lineHeightMd: 1.8;
    --transitionDuration: 300ms;
    --transitionTF: cubic-bezier(0.645, 0.045, 0.355, 1);
    
    /* floated labels */
    --inputPaddingV: var(--gutterMd);
    --inputPaddingH: var(--gutterLg);
    --inputFontSize: var(--fontSizeLg);
    --inputLineHeight: var(--lineHeightMd);
    --labelScaleFactor: 0.8;
    --labelDefaultPosY: 60%;
    --labelTransformedPosY: calc(
      (var(--labelDefaultPosY)) - 
      (var(--inputPaddingV) * var(--labelScaleFactor)) - 
      (var(--inputFontSize) * var(--inputLineHeight))
    );
    --inputTransitionDuration: var(--transitionDuration);
    --inputTransitionTF: var(--transitionTF);
}

.app-view-container {
    position: relative;
    background-color: var(--bg-color);

    height: 100vh;
    width: 100vw;

    color: var(--font-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
}

.topic-list-container {
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;

    top: 5vh;
    left: 0vw;

    width: 16vw;
    height: 90vh;

    border-left: 2px solid var(--line-color);

    overflow-y: scroll;
}

.topic-list-container li {
    height: 2.6vh;
    width: 13vw;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    border: 1px solid var(--bg-color-light);
}

.topic-list-container li#create-new-topic {
    border-color: var(--line-color);
    background-color: var(--line-color);
    width: 15.8vw;
}

.topic-list-container li#selected {
    border-color: var(--line-color);
    width: 15.8vw;
}


.topic-list-container li:hover {
    border-color: var(--line-color);
    width: 15.8vw;
}

.topic-list-container li div {
    height: 100%;

    padding-left: 5px;
}

.topic-list-container li button#topic-name {
    all: unset;
    width: 66%;
    height: 100%;

    padding-left: 5px;
}

.topic-list-container li div#topic-sourceLang {
    width: 11%;
}

.topic-list-container li div#topic-targetLang {
    width: 11%;
}

.topic-list-container li button#topic-delete-btn {
    all: unset;
    height: 100%;
    width: 12%;

    background-color: none;
}

.topic-list-container li button#topic-delete-btn:hover {
    background: rgb(224, 88, 88) center/85% url('../assets/trash-icon.png') no-repeat;
}


.topic-view-container {
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;

    top: 13vh;
    left: 18vw;

    height: 95.53vh;
    width: 36vw;

    overflow-y: scroll;
}

.topic-name-box {
    position: absolute;
    top: 3vh;
    left: 18vw;

    font-size: x-large;
    justify-content: center;
    align-content: center;
    padding-left: 10px;

    border-bottom: 2px solid var(--bg-color-light);

    height: 5vh;
    width: 30vw;
    background-color: none;
}

.topic-name-edit {
    background: none;
    border: none;
    outline: none;
    color: var(--font-color);
    font-size: x-large;
    width: 80%;
    height: 100%;
}

.app-view-container button#flip-source-button {
    all: unset;
    position: absolute;
    right: 68vw;
    top: 9vh;
    height: 40px;
    width: 100px;
    color: var(--font-light);
    font-weight: bold;
    font-size: large;
}

.app-view-container button#flip-source-button:hover {
    text-decoration: underline;
    cursor: pointer;
    font-weight: bolder;
}

.app-view-container button#flip-translation-button {
    all: unset;
    position: absolute;
    right: 50vw;
    top: 9vh;
    height: 40px;
    width: 100px;
    color: var(--font-light);
    font-weight: bold;
    font-size: large;
}

.app-view-container button#flip-translation-button:hover {
    text-decoration: underline;
    cursor: pointer;
    font-weight: bolder;
}

.topic-view-container li {
    min-height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;

    margin-top: -1px;
    padding-top: 1px;
    padding-bottom: 1px;


    border-top: 1px solid var(--bg-color-light);
    border-bottom: 1px solid var(--bg-color-light);
}

.topic-view-container button:hover {
    background-color: var(--bg-color-light);
}

.topic-view-container li button {
    all: unset;
    height: 100%;
    padding-left: 5px;
}

.topic-view-container li button#pair-source {
    float: left;
    width: 48%;
}

.topic-view-container li button#pair-source-hidden {
    float: left;
    width: 48%;
    background-color: var(--bg-color-light);
    color: var(--bg-color-light);
}

.topic-view-container li button#pair-translation {
    width: 48%;
}

.topic-view-container li button#pair-translation-hidden {
    width: 48%;
    background-color: var(--bg-color-light);
    color: var(--bg-color-light);
}

.topic-view-container li button#pair-delete-btn {
    all: unset;
    float: right;
    height: 20px;
    width: 3%;

    background-color: none;
}

.topic-view-container li button#pair-delete-btn:hover {
    background: rgb(224, 88, 88) center/85% url('../assets/trash-icon.png') no-repeat;
}

.generation-window-container {
    position: absolute;
    height: 99.48vh;
    width: 36.5vw;
    top: 0px;
    right: 0px;

    padding: 0;
    margin: 0;

    border: 2px solid var(--line-color);
    border-radius: 0px 0px 10px 0px;
}

.generation-window {
    position: absolute;
    height: 46.4vh;
    width: 36.5vw;
    top: 31vh;
    right: 0px;

    padding: 0;
    margin: 0;

    border: 2px solid var(--line-color);
    border-radius: 0px 0px 10px 0px;
}

.command-window {
    position: absolute;
    min-height: 7.7vh;
    max-height: 12.7vh;
    width: 36.5vw;
    top: 19vh;
    right: 5.5vw;
}

.prompt-box {
    min-height: 80%;
    width: 60%;
    float: left;
    overflow-y: visible;

    font-size: larger;
}

.command-window button#prompt-submit-button {
    all: unset;
    position: absolute;
    right: -0.6vw;
    top: 2vh;
    height: 40px;
    width: 100px;
    color: var(--line-color);
    font-weight: bolder;
    font-size: x-large;
}

.command-window button#prompt-submit-button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.app-view-container button#anki-export {
    all: unset;
    position: absolute;

    height: 8.8vh;
    width: 8.8vh;

    top: 4.7vh;
    left: 50vw;

    background: var(--bg-color) center/85% url('../assets/anki-icon.png') no-repeat;
}

.app-view-container button#anki-export:hover {
    background: var(--bg-color) center/95% url('../assets/anki-icon.png') no-repeat;
}

.app-view-container button#save {
    all: unset;
    position: absolute;

    height: 8vh;
    width: 8vh;

    border: 2px solid var(--bg-color-light);
    border-radius: 5px;
    top: 4.7vh;
    left: 45vw;

    background: var(--bg-color-light) center/85% url('../assets/save-edit-icon.png') no-repeat;
}

.app-view-container button#save:hover {
    background: var(--bg-color-light) center/95% url('../assets/save-edit-icon.png') no-repeat;
}

.app-view-container button#add-topic {
    all: unset;
    position: absolute;

    height: 3.8vh;
    width: 3.8vh;

    border: 2px solid var(--line-color);
    top: 0px;
    left: 55.83vw;

    background: var(--bg-color) center/85% url('../assets/add-icon.png') no-repeat;
}

.app-view-container button#add-topic:hover {
    background: var(--bg-color) center/95% url('../assets/add-icon.png') no-repeat;
}

.language-select-container {
    position: absolute;
    top: 10.5vh;
    right: 11.7vw;
    width: 24.2vw;
    height: 12vh;
    font-size: large;
}

.language-selector {
    position: relative;
    display: inline-block;

    height: 40px;
    width: 90px;

    border: 2px solid var(--line-color);
}

.language-selector#left {
    float: left;
    margin-left: 80px;
    border-radius: 5px 0px 0px 5px;
}

.language-selector#right {
    float: right;
    margin-right: 80px;
    border-radius: 0px 5px 5px 0px;
}

.dropbtn {
    all: unset;
    background-color: var(--bg-color);
    
    height: 6px;
    width: 10px;
    margin-left: 20px;
    align-content: center;

    vertical-align: middle;

    color: var(--font-color);
    padding: 16px;
    font-size: large;
    border: none;
}

.language-selector-content {
    display: none;
    position: absolute;
    background-color: var(--bg-color);
    width: 90px;
    margin-left: -2px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    border: 2px solid var(--line-color);
    border-top: none;
    border-radius: 0px 0px 5px 5px;
}

.language-selector-content button {
    all: unset;
    color: var(--font-color);
    padding: 12px 16px;
    margin-left: 20px;
    text-decoration: none;
    display: block;
    align-content: center;
}

.language-selector:hover .language-selector-content {
    display: block;
}

.grid-ctr {
    position: absolute;
    height: 67.4vh;
    width: 42.5vw;
    top: 18vh;
    right: 2vw;
    margin-top: 100px;
    background-color: var(--bg-color);
    align-content: center;
    overflow-y: auto;
    overflow-x: hidden;

}

.basic-grid:empty ~ .grid-ctr__label {
  left: 1rem;
  top: 0.8rem;
}

.grid-ctr-label {
  position: absolute;
  top: -1.0rem;
  font-size: 1.7rem;
  left: 0.8rem;
  padding: 0 0.5rem;
  color: #fff;
  background-color: --var(--bg-color);
  z-index: 1px;
}

.basic-grid {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    flex-wrap: wrap;

    padding: 10px 10px 10px 10px;
 }

.basic-grid > button:nth-child(n) {
    all: unset;
    display: flex;
    background: --var(--bg-color);
    border: 1px solid #36c79e;
    shape-outside: var(--bg-color-light);
    font-size: 1rem;
    margin: 5px 5px 5px 5px;
    padding: 2px 2px 2px 2px;
    height: minmax(100px, auto);
    width: minmax(280px, 560px);
    border-radius: 20px;
    transition: all 500ms;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

 .basic-grid > button div#src {
  color: rgb(155, 155, 155);
  display: flex;
  width: minmax(120px, 240px);
  height: 95%;
  padding: 5px 5px 5px 5px;
  float: left;
  overflow: visible;
  text-align:left;
 }

 .basic-grid > button div#trn {
  color: #fff;
  display: flex;
  width: minmax(120px, 240px);
  height: 95%;
  padding: 5px 5px 5px 5px;
  float: right;
  overflow: visible;
  text-align:left;
}

.basic-grid > button div#mid {
  width: 10px;
  height: auto;
  text-align: center;
  align-content: center;
}
  
.basic-grid > button:hover {
    border-color: #fff;
 }

.Input {
    position: absolute;
    border-bottom: 2px solid var(--line-color);
    height: 100%;
    width: 80%;
    float: left;
}

.Input-text {
    width: 100%;
    height: 95%;
    display: block;
    margin: 0 auto;
    color: var(--font-color);
    font-family: inherit;
    font-size: var(--inputFontSize);
    font-weight: inherit;
    line-height: var(--inputLineHeight);
    border-radius: 0.4rem;
    border: none;
    background-color: var(--bg-color);
    transition: box-shadow var(--transitionDuration);
    position: relative;

    align-items: center;
    justify-content: center;
}

.Input-text::placeholder {
    color: #B0BEC5;
}

.Input-text:focus {
    outline: none;
}
